name: Build and Release

on:
  push:
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      release_name:
        description: 'Release name'
        required: false
        default: 'Manual Release'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      ARENA_VERSION: ${{ github.ref_name }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 23
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Get Project Version from Git Tag
        id: get_version
        run: |
          VERSION="${GITHUB_REF_NAME}"

      - name: Build with Gradle
        run: ./gradlew shadowJar --no-daemon --stacktrace

      - name: Publish to UTF Maven Repository
        run: ./gradlew publishAllPublicationsToUtfMvnRepository --no-daemon --stacktrace
        env:
          UTF_MVN_USER: ${{ secrets.UTF_MVN_USER }}
          UTF_MVN_PASS: ${{ secrets.UTF_MVN_PASS }}